name: CI Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

env:
  DOTNET_NOLOGO: true                     # Disable the .NET logo
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true # Disable the .NET first time experience
  DOTNET_CLI_TELEMETRY_OPTOUT: true       # Disable sending .NET CLI telemetry

jobs:
 build-ios:
    runs-on: macos-13
    name: iOS Build

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # - name: Sign binary
      #   uses:  @tachapong/GHATuiPin
      #   with:
      #     file: settings/secrets/actions
      #     certificate-data: ${{ secrets.APPLE_CERT_DATA }}
      #     certificate-password: ${{ secrets.APPLE_CERT_PASSWORD }}
      #     apple-team-id: ${{ secrets.APPLE_TEAM_ID }}


      - name: setup ios certificates
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          P12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
          keychain: github-actions-xamarin
          keychain-password: ''

      - name: Setup ios Provisioning Profiles
        uses: apple-actions/download-provisioning-profiles@v1
        with: 
          bundle-id: ''
          profile-type: 'IOS_APP_ADHOC'
          issue-id: ${{ secrets.APPSTORE_ISSUE_ID }}
          api-key-id: ${{ secrets.APPSTORE_KEY_ID }}
          api-private-key: ${{ secrets.APPSTORE_PRIVATE_KEY }}



      - name: Setup .NET 7
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 7.0.x
          include-prerelease: true

      - name: Install MAUI Workloads
        run: |
          dotnet workload install ios --ignore-failed-sources
          dotnet workload install maui --ignore-failed-sources

      - name: Restore Dependencies
        run: dotnet restore src/uiPin/uiPin.csproj

      - name: Build MAUI iOS
        run: dotnet build src/uiPin/uiPin.csproj -c Release -f net7.0-ios --no-restore /p:buildForSimulator=True /p:packageApp=True /p:ArchiveOnBuild=False

      - name: Upload iOS Artifact
        uses: actions/upload-artifact@v2.3.1
        with:
          name: ios-ci-build
          path: src/uiPin/bin/Release/net7.0-ios/**/*.app/















